html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

:root {
  --bg: black;
  --text: white;
  --link: white;
  --font-heading: inherit;
  --font-body: arial;
}

.slide {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body), Helvetica, sans-serif;
  container-type: inline-size;
}

.slide a {
  color: var(--link);
}

.slide blockquote {
  position: relative;
  padding: 0px 1cqw 1cqw 4cqw;
  font-style: italic;
}

.slide blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78C0A8;
  font-size: 2em;
  position: absolute;
  left: 0px;
  top: -10px;
}

.innerSlide {
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
  font-size: 2.5cqw;
}

.innerSlide h1,
.innerSlide h2,
.innerSlide h3,
.innerSlide h4,
.innerSlide h5,
.innerSlide h6 {
  font-family: var(--font-heading), var(--font-body), Helvetica, sans-serif;
}